<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zblack-Signup</title>
  <link rel="icon" href="images/logo.png" type="image/x-icon">
  <link rel="icon" sizes="192x192" href="images/logo.png" type="image/png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/logo.png">
  
  <link rel="stylesheet" href="cs/style.css">
  <!-- bootstrap -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <!-- justvalidate -->
  <script src="/js/validation.js"></script>
</head>
<style>
  body {
    background-image: url(images/829012.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
</style>

<body>

  {{>navbar}}


  <div class="container signupForm justify-content-center align-content-center w-50 bg-transparent text-white">
    <form class="row g-3" action="/signup" method="post" id="form" novalidate>
      <div class="input-control">
        <label for="username" class="form-label">User Name</label>
        <input type="text" name="username" class="form-control" id="username"
          value="{{username}}">
        <div class="error"></div>
      </div>
      <div class="input-control">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="email" aria-describedby="inputGroupPrepend2" value="{{email}}">
        <div class="error"></div>
      </div>
      <div class="input-control">
        <label for="phone" class="form-label">Phone</label>
        <input type="number" name="phone" class="form-control" id="phone" value="{{phone}}">
        <div class="error"></div>
      </div>
      <div class="input-control">
        <label for="otp" class="form-label">Enter Your OTP</label>
        <input type="number" name="otp" class="form-control" id="otp" value="{{otp}}">
        <div class="error"></div>
        <div id="send-otp-message" class=" text-success"></div>
        <div id="verify-otp-message" class=" text-success"></div>
      </div>
      {{!-- <div class="input-control">
        <label for="password" class="form-label">Password</label>
        <div class="input-group">
          <input type="password" name="password" class="form-control" id="password">
          <div class="error"></div>
        </div>
      </div> --}}
      <div class="input-control">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="password" value="{{password}}">
        <div class="error"></div>
      </div>
      <div class="input-control">
        <label for="confirmpassword" class="form-label">Confirm Password</label>
        <input type="password" name="confirmpassword" class="form-control" id="confirmpassword" value="{{confirmpassword}}">
        <div class="error"></div>
      </div>
      <div class="input-control">
        <label for="referralnumber" class="form-label">Referral Code</label>
        <input type="text" name="referralCode" class="form-control" id="referralnumber" value="{{referralCode}}">
        <div class="error"></div>
      </div>
      <div class="">
        <button type="submit" name="createAccount" class="btn btn-primary mt-4">Create Account</button>
      </div>
      <div class="loginIfAcount">
        <h4>Already have a acount?</h4>
        <a class=" text-light" href="/login">Login</a>
      </div>
    </form>

  </div>
  <script src="../jq/jquery.js"></script>
  <script src="../js/bootstrap.js"></script>
  <script src="/js/signup.js"></script>
</body>