<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user page</title>
    <link rel="stylesheet" href="cs/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- fontawsm -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
        integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
</head>

<body class="bg-dark">
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Menu</span>
                    </a>
                    <p class="text-danger">{{user.sponsorId}}</p>
                    <p class="text-danger">{{user.referralCode}}</p>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                        id="menu">
                        <li class="nav-item">
                            <a href="#" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="#submenu" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-speedometer2"></i> <span
                                    class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                            <ul class="collapse show nav flex-column ms-1" id="submenu" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a class="nav-link px-0"> <span class="d-none d-sm-inline">
                                            <p class="text-danger">{{user.username}}</p>
                                        </span> </a>
                                </li>
                                <!-- <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                            </li> -->
                            </ul>
                        </li>
                        <li>
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Team
                                    info</span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span>
                                        1</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span>
                                        2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">My
                                    Revenue</span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span>
                                        1</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span>
                                        2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">User info</span> </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span>
                                        1</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span>
                                        2</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span>
                                        3</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span>
                                        4</a>
                                </li>
                            </ul>
                        </li>
                        <!-- <li>
                        <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">User info</span> </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                            </li>
                        </ul>
                    </li> -->
                        <li>
                            <a href="#submenu5" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Support</span> </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu5" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span>
                                        1</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span>
                                        2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span>
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown pb-4">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30"
                                class="rounded-circle">
                            <span class="d-none d-sm-inline mx-1">User</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" id="logout-button">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col py-3 mt-5">
                <div class="userSection row justify-content-evenly">
                    <div class="userInfo bg-light rounded-4 p-3 col-md-4">
                        <h4 class="card-title text-center bg-danger">User Profile</h4>
                        <hr>
                        <h6 class="">User Name: <span class="text-info m-1 text-dark">{{user.username}}</span></h6>
                        <h6 class="">Mobile: <span class="text-info m-1">{{user.phone}}</span></h6>
                        <h6 class="">Referral Code: <span class="text-info m-1">{{user.referralCode}}</span></h6>
                        <h6 class="">Sponsor ID: <span class="text-info m-1">{{user.sponsorId}}</span></h6>
                    </div>
                    <div class="balance bg-light rounded-4 p-2 col-md-4 mt-4 mt-md-0">
                        <p class=" text-danger fs-3">{{user.coins}}</p>
                        <p class=" fs-4">Available Balance</p>
                    </div>
                    <div class="withdrawal bg-light rounded-4 p-2 col-md-2 mt-4 mt-md-0">
                        <p class="text-danger fs-3">
                            {{user.coins}}
                        </p>
                        <p class=" fs-4">Total Revenue</p>
                    </div>
                </div>
                <div class="row mt-5 justify-content-evenly">
                    <div class="withdrawal bg-light rounded-4 p-2 col-md-2 mt-4 mt-md-0">
                        <p class="text-danger fs-3">0</p>
                        <p class=" fs-4">Total Withdrawal</p>
                    </div>
                    <div class="withdrawal bg-light rounded-4 p-2 col-md-2 mt-4 mt-md-0">
                        <p class="text-danger fs-3">
                            {{user.directReferredUsers}}
                        </p>
                        <p class=" fs-4">My Direct Team</p>
                    </div>
                    <div class="withdrawal bg-light rounded-4 p-2 col-md-2 mt-4 mt-md-0">
                        <p class="text-danger fs-3"> <span class="number">
                                {{user.indirectReferredUsers}}
                            </span>
                        </p>
                        <p class=" fs-4">My Down Team</p>
                    </div>
                    <div class="withdrawal bg-light rounded-4 p-2 col-md-2 mt-4 mt-md-0">
                        <p class="text-danger fs-3">
                            {{userCount}}
                        </p>
                        <p class=" fs-4">Company Team</p>
                    </div>
                    <!-- <div class="withdrawal bg-light rounded-4 p-3 col-md-2 mt-8 mt-md-0">
                        Number of referred users:
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <script src="js/bootstrap/bootstrap.bundle.min.js"></script>
    <script>
  $('#logout-button').on('click', function() {
    $.ajax({
      url: '/logout',
      method: 'POST',
      success: function(response) {
        // Handle successful logout, such as redirecting the user to the login page
        window.location.href = '/login';
      },
      error: function(error) {
        // Handle error, such as displaying an error message to the user
        console.log(error);
      }
    });
  });
</script>
</body>

</html>